name: Publish Python Package

on:
  push:
    branches:
      - production 

permissions:
  contents: write


jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        if: ${{ !contains(github.event.head_commit.message, '[skip bump]') }}
        uses: actions/checkout@v4

      - name: Set up Git user
        if: ${{ !contains(github.event.head_commit.message, '[skip bump]') }}
        run: |
          git config --global user.email "deploy@sm1ky.com"
          git config --global user.name "Artem"

      - name: Set up Python
        if: ${{ !contains(github.event.head_commit.message, '[skip bump]') }}
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        if: ${{ !contains(github.event.head_commit.message, '[skip bump]') }}
        run: |
          python -m pip install --upgrade pip
          pip install bump2version

      - name: Bump version and create tag
        if: ${{ !contains(github.event.head_commit.message, '[skip bump]') }}
        id: bump_version 
        run: |
          git pull --force
          bump2version patch --config-file bumpversion.cfg
          git push origin HEAD:production
          git push origin --tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get new version from tag
        if: ${{ !contains(github.event.head_commit.message, '[skip bump]') }}
        id: get_tag 
        run: echo "::set-output name=VERSION::$(git describe --tags --abbrev=0)"

      - name: Create GitHub Release
        if: ${{ !contains(github.event.head_commit.message, '[skip bump]') }}
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get_tag.outputs.VERSION }}
          release_name: "Release ${{ steps.get_tag.outputs.VERSION }}"
          body: "New update to version ${{ steps.get_tag.outputs.VERSION }}"
          draft: false
          prerelease: false
  

  publish:
    runs-on: ubuntu-latest
    needs: bump-version
    steps:
      - name: Checkout repository
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Pull latest changes
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        run: git pull origin production --tags --force

      - name: Set up Python
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        run: python -m build

      - name: Rename built package
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        run: |
          WHL_FILE=$(ls dist/*.whl)
          NEW_NAME=$(echo $WHL_FILE | sed 's/marzban/marzban-production/')
          mv "$WHL_FILE" "$NEW_NAME"
          TAR_FILE=$(ls dist/*.tar.gz)
          NEW_TAR_NAME=$(echo $TAR_FILE | sed 's/marzban/marzban-production/')
          mv "$TAR_FILE" "$NEW_TAR_NAME"

      - name: Publish renamed package
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        uses: pypa/gh-action-pypi-publish@v1.10.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Publish package
        if: ${{ !contains(github.event.head_commit.message, '[skip publish]') }}
        uses: pypa/gh-action-pypi-publish@v1.10.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
      
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
